<div class="container">
    <h1 class="mt-4">Serviço Prestado</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Novo</li>
    </ol>

    <form [formGroup]="clienteForm">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success">
                    Serviço prestado salvo com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{erro}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Cliente: </label>
                    <select class="form-control" formControlName="id">
                        <option value="">Selecione...</option>
                        <option *ngFor="let cliente of clientes" [value]="cliente.id" ngDefaultControl>{{cliente.nome}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <form [formGroup]="servicoPrestadoForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Descrição:</label>
                        <input class="form-control" formControlName="descricao" type="text" name="descricao"
                            id="descricao">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Data:</label>
                        <input class="form-control" formControlName="data" type="text" name="data" id="data"
                            mask="d0/M0/0000">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Preço:</label>
                        <input class="form-control" formControlName="preco" type="text" name="preco" id="preco"
                            prefix="R$" suffix="" mask="separator.2" thousandSeparator=".">
                    </div>
                </div>
            </div>

        </form>

        <div class="row">
            <div class="col-md-12" style="display: flex; justify-content: center;">
                <button type="button" class="btn btn-success" (click)="salvar()">
                    <i class="fa fa-save"></i> Salvar</button>
                <button type="button" class="btn btn-secondary ml-2" routerLink="/servico-prestado/list">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>
        </div>
    </form>

</div>